/* Algemeen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header met logo */
header {
    text-align: center;
    padding: 20px 0 10px;
}

header img {
    max-width: 170px;
    height: auto;
    cursor: pointer;
}

/* Navigatiemenu */


nav ul {
    list-style: none;      /* Geen bolletjes */
    margin: 0;
    padding: 0;
    display: flex;         /* Horizontale rij */
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #463103;
    text-decoration: none;
}

nav ul li a:hover {
    color: #99958e;
}


/* midden */




footer {
    background-color: #463103;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer ul {
    list-style: none;      /* Geen bolletjes */
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

/* Navigatie links in de footer */
.footer-left a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px
}

.footer-left a:hover {
    color: #99958e;
}

/* Logo in het midden */
.footer-center img {
    max-width: 170px;
}

/* Instagram icoon rechts */
.footer-right img {
    width: 30px;
    height: 30px;
}

.footer-right i {
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 2.2rem;
}

.footer-right i:hover {
    color: #99958e;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: #b1afaf;
}
